# =========================
# Laravel-Specific Ignores
# =========================

# Build directory
/public/hot
/public/storage
/public/css
/public/js
/public/fonts

# Webpack build manifest
/public/mix-manifest.json

# Storage key files
/storage/*.key

# Composer dependencies folder
/vendor

# IntelliJ
/.idea

# Vagrant-specific
/.vagrant
Homestead.json
Homestead.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# npm lockfile
# Since this project uses yarn, this can be omitted.
/package-lock.json

# dotenv environment variables file
.env

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
